<mat-dialog-content id="content">
  <div id="search-area">
    <input
      placeholder="Search..."
      [formControl]="searchForm"
      id="search-form"
      class="form-control"
    />
  </div>
  <div id="container">
    <h1 *ngIf="showUpperH1()">
      <mat-checkbox
        [checked]="getUpperH1CheckboxState()"
        (change)="updateAll1($event.checked)"
      ></mat-checkbox
      >{{ type === "e2e" ? "Components" : "Endpoints" }}
    </h1>
    <div *ngIf="type === 'e2e'">
      <div *ngFor="let item of shownComponentFiles" class="file-list">
        <div class="file-item">
          <mat-checkbox
            [checked]="checklist[componentFiles.indexOf(item)]"
            (change)="update($event.checked, componentFiles.indexOf(item))"
          ></mat-checkbox>
          {{ item.name }} component
        </div>
      </div>
    </div>
    <div *ngIf="type === 'unit'">
      <div *ngFor="let item of shownEndpointFiles" class="file-list">
        <div class="file-item">
          <mat-checkbox
            [checked]="checklist[endpointFiles.indexOf(item)]"
            (change)="update($event.checked, endpointFiles.indexOf(item))"
          ></mat-checkbox>
          {{ item.name }} endpoint
        </div>
      </div>
    </div>
    <h1 id="lower-h1">
      <mat-checkbox
        [checked]="getLowerH1CheckboxState()"
        (change)="updateAll2($event.checked)"
      ></mat-checkbox
      >Other Files
    </h1>
    <div *ngFor="let item of shownOtherFiles" class="file-list">
      <div class="file-item">
        <mat-checkbox
          [checked]="checklist[length + otherFiles.indexOf(item)]"
          (change)="update($event.checked, length + otherFiles.indexOf(item))"
        ></mat-checkbox>
        {{ item.name }}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="returnFiles" cdkFocusInitial>
    Select
  </button>
</mat-dialog-actions>
