<mat-dialog-content>
  <div id="container">
    <h1>Components</h1>
    <div *ngFor="let item of componentFiles" class="file-list">
      <div class="file-item">
        <mat-checkbox
          [checked]="checklist[componentFiles.indexOf(item)]"
          (change)="update($event.checked, componentFiles.indexOf(item))"
          color="primary"
        ></mat-checkbox>
        {{ item.name }} component
      </div>
    </div>
    <h1 id="lower-h1">Other Files</h1>
    <div *ngFor="let item of otherFiles" class="file-list">
      <div class="file-item">
        <mat-checkbox
          [checked]="
            checklist[componentFiles.length + otherFiles.indexOf(item)]
          "
          (change)="
            update(
              $event.checked,
              componentFiles.length + otherFiles.indexOf(item)
            )
          "
          color="primary"
        ></mat-checkbox>
        {{ item.name }}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="returnFiles" cdkFocusInitial>
    Select
  </button>
</mat-dialog-actions>
