<div id="content">
  <div id="main-container">
    <mat-form-field id="input-field">
      <textarea
        matInput
        [formControl]="form"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="20"
        id="input-area"
      ></textarea>
    </mat-form-field>
    <button (click)="run()" class="btn btn-primary" id="generate-button">
      Generate test
    </button>
    <div id="output-control" *ngIf="outputReceived">
      <button class="btn btn-secondary mx-1" (click)="showOutput()">
        Show code
      </button>
      <button class="btn btn-secondary mx-1">Copy code</button>
      <button class="btn btn-secondary mx-1">Create file</button>
    </div>
    <pre>{{ outputText }}</pre>
  </div>
</div>
