<div id="content">
  <div id="input-container">
    <h1>
      Input:
      <mat-button-toggle-group
        name="input"
        aria-label="Input"
        [formControl]="inputTypeForm"
        class="mx-2"
      >
        <mat-button-toggle value="files"
          ><mat-icon class="mx-1">
            insert_drive_file</mat-icon
          ></mat-button-toggle
        >
        <mat-button-toggle value="text"
          ><mat-icon class="mx-1">code</mat-icon></mat-button-toggle
        >
      </mat-button-toggle-group>
    </h1>
    <div id="text-input" *ngIf="inputTypeForm.value == 'text'">
      <button
        class="btn btn-outline-danger"
        id="text-clear-button"
        (click)="clearInput()"
        *ngIf="textInputForm.value !== ''"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-form-field id="input-field">
        <textarea
          matInput
          [formControl]="textInputForm"
          cdkTextareaAutosize
          cdkAutosizeMaxRows="25"
          #autosize="cdkTextareaAutosize"
          id="input-area"
          [placeholder]="textInputPlaceholder"
        ></textarea>
      </mat-form-field>
    </div>
    <div id="file-input" *ngIf="inputTypeForm.value == 'files'">
      <div class="auto-detect-button" *ngIf="testTypeForm.value === 'e2e'">
        <label for="folder1" class="btn btn-secondary">Choose folder</label>
        <input
          type="file"
          (change)="handleAngularAutoDetect($event)"
          id="folder1"
          multiple
          webkitdirectory
        />
        <button
          class="btn btn-outline-danger"
          id="file-clear-button"
          (click)="clearInput()"
          *ngIf="showClearFileButton()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="auto-detect-button" *ngIf="testTypeForm.value === 'unit'">
        <label for="folder2" class="btn btn-secondary">Choose folder</label>
        <input
          type="file"
          (change)="handleNestAutoDetect($event)"
          id="folder2"
          multiple
          webkitdirectory
        />
        <button
          class="btn btn-outline-danger"
          id="file-clear-button"
          (click)="clearInput()"
          *ngIf="showClearFileButton()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="add-file-area" *ngIf="testTypeForm.value === 'e2e'">
        <span>Components</span>
        <label for="files1" class="btn btn-outline-success add-file-button"
          >+</label
        >
        <input
          type="file"
          (change)="handleComponentFileInput($event)"
          id="files1"
          accept=".html, .ts"
          multiple
        />
      </div>
      <div class="file-items" *ngIf="testTypeForm.value === 'e2e'">
        <div *ngFor="let item of componentFiles">
          <div class="file-item">
            <span>{{ getComponentLabel(item) }}</span>
            <mat-icon (click)="removeComponent(item)" class="mx-1"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
      <div class="add-file-area" *ngIf="testTypeForm.value === 'unit'">
        <span>Endpoints</span>
        <label for="files3" class="btn btn-outline-success add-file-button"
          >+</label
        >
        <input
          type="file"
          (change)="handleEndpointFileInput($event)"
          id="files3"
          accept=".ts"
          multiple
        />
      </div>
      <div class="file-items" *ngIf="testTypeForm.value === 'unit'">
        <div *ngFor="let item of endpointFiles">
          <div class="file-item">
            <span>{{ getEndpointLabel(item) }}</span>
            <mat-icon (click)="removeEndpoint(item)" class="mx-1"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
      <div class="add-file-area">
        <span>Other files</span>
        <label for="files2" class="btn btn-outline-success add-file-button"
          >+</label
        >
        <input
          type="file"
          (change)="handleOtherFileInput($event)"
          id="files2"
          accept=".html, .ts"
          multiple
        />
      </div>
      <div class="file-items">
        <div *ngFor="let item of otherFiles">
          <div class="file-item">
            <span>{{ item.name }}</span>
            <mat-icon (click)="removeFile(item)" class="mx-1">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div id="send-area">
      <mat-checkbox
        [formControl]="isErrorForm"
        *ngIf="inputTypeForm.value == 'text'"
        color="primary"
        id="error-checkbox"
        (click)="updateTextInputPlaceholder()"
        >Error solving mode</mat-checkbox
      >
      <button (click)="run()" class="btn btn-primary" id="generate-button">
        Generate output
      </button>
    </div>
  </div>
  <div id="output-container">
    <h1>Output:</h1>
    <pre id="output" class="border">{{ outputText }}</pre>
    <div id="output-control" *ngIf="outputReceived">
      <button
        class="btn btn-secondary mx-1 output-control-button"
        [cdkCopyToClipboard]="outputText"
        (click)="copyCode()"
      >
        <mat-icon class="mx-1">file_copy</mat-icon> {{ copyCodeButtonText }}
      </button>
      <button
        class="btn btn-secondary mx-1 output-control-button"
        (click)="createFile()"
      >
        <mat-icon class="mx-1"> insert_drive_file</mat-icon>
        Create file
      </button>
    </div>
  </div>
</div>
<div id="test-type-switch">
  <div id="test-type-wrapper">
    <mat-button-toggle-group
      name="testType"
      aria-label="Type"
      [formControl]="testTypeForm"
    >
      <mat-button-toggle value="e2e">Angular (E2E)</mat-button-toggle>
      <mat-button-toggle value="unit">NestJS (Unit)</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
