<div id="content">
  <div id="main-container">
    <mat-form-field id="input-field">
      <textarea
        matInput
        [formControl]="form"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="20"
        cdkAutosizeMaxRows="30"
        id="input-area"
      ></textarea>
    </mat-form-field>
    <button (click)="run()" class="btn btn-primary" id="generate-button">
      Generate test
    </button>
    <div id="output-control" *ngIf="outputReceived">
      <button
        class="btn btn-secondary mx-1 output-control-button"
        (click)="showOutput()"
      >
        <mat-icon class="mx-1">code</mat-icon> {{ showCodeButtonText }}
      </button>
      <button
        class="btn btn-secondary mx-1 output-control-button"
        [cdkCopyToClipboard]="output"
        (click)="copyCode()"
      >
        <mat-icon class="mx-1">file_copy</mat-icon> {{ copyCodeButtonText }}
      </button>
      <button
        class="btn btn-secondary mx-1 output-control-button"
        (click)="createFile()"
      >
        <mat-icon class="mx-1"> insert_drive_file</mat-icon>
        Create file
      </button>
    </div>
    <pre>{{ outputText }}</pre>
  </div>
</div>
